@charset "utf-8";
/* CSS Document */

/* page1 content style */
.logo {
    display: inline-block;
    margin-top: 3em;
}
.logo a {
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
.page1 .text-content {
    margin-top: 2em; 
    font-size: 1.6em; 
    font-family: 'LithosPro-Regular', 'Lato-light';
    color: white;
}
.page1 .text-content em {
    color: yellow
}
#particles-js canvas{position: absolute; top: 0; left: 0;z-index: -999}

.down-arrow {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-top: 2rem;
    background: url(../images/icon_img/iconfont-mouse.png) no-repeat center;
    opacity: 0.6;
    animation: flash 5s infinite;
    -webkit-animation: flash 5s infinite;
    -moz-animation: flash 5s infinite;
}
@keyframes flash
{
    from {opacity: 0.6}
    to {opacity: 1}
}
@-webkit-keyframes flash{
    from {opacity: 0.6}
    to {opacity: 1}
}

/* some common style */

.content-title {
    font-size: 1.5em;
}

.coder-designer {
    display: inline-block;
    height: 91px;
    margin-top: 1em;
}

.paragraph {
    display: inline-block;
    width: 100%;
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.5;
    filter: alpha(opacity=0);
    opacity: 0;
}
.paragraph span {
    display: inline-block;
    width: 100%; 
    font-size: 1.3em;
}

/* page4 content style */
.services-content{
    display: inline-block;
    margin-top: 2em;
    filter: alpha(opacity=0);
    opacity: 0;
}
.services-content li{
    float: left;
    width: 116px;
    height: auto;
    margin-right: 4em;
    color: white;
    font-size: 0.5em;
    font-weight: 600;
}
.services-content li:last-child{
    margin-right: 0;
}
.services-content li img {
    display: inline-block;
}

/* page5 content style */
.blog-icon {
    filter: alpha(opacity=0);
    opacity: 0;
}

@media (min-width: 481px) and (max-width: 768px){
   
}

@media only screen and (max-width: 480px){
    .logo {
        margin-top: 1em;
    }
    .content-title {
        font-size: 1em;
    }
    .blog-icon {
        width: 100px;
        height: 100px;
    }
            
}







